/*--------------------------------------------------------------
# Education Section
--------------------------------------------------------------*/
@import "../../project_variables";

#education {
  .education-list-container {
    hr {
      border-top: 1px dashed darkgray;
    }
    hr:last-of-type {
      display: none;
    }
  }

  .education-card {
    h4 {
      color: $h4-title;
      font-weight: bold;
    }

    h5 {
      color: $h5-title;
      font-weight: 600;
    }

    img {
      width: 80%;
    }
  }
}
