/* Set project variables */

// Main colors.
$underliner: #00a78e;

$h3-title: #1b242f;
$h3-disabled-title: $gray-600;
$h3-subtitle: $underliner;

$h4-title: $h3-title;
$h4-disabled-title: $gray-600;
$h4-subtitle: $underliner;

$h5-title: $underliner;
$h5-disabled-title: $gray-600;
$h5-subtitle: $h3-title;
