<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="wDTJlnw1yZfp6gyPUvjMXTEDABP_f1liL09R0TCtdj8" />
{{ template "_internal/google_analytics.html" . }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VX7C2DVWVH"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VX7C2DVWVH');
</script>

{{ $page := .Page.Params }}
<title>{{ $page.pageTitle }}</title>

<meta name="title" content="{{ $page.pageTitle }}">
<meta name="descriptison" content="{{ $page.metaDescription }}" />
<meta name="keywords" content="{{ $page.metaKeywords }}" />
<meta name="robots" content="index, follow, all">

<!-- Favicons -->
{{ $logo := .Site.Params.logo }}
<link href="{{ $logo.favicon }}" rel="icon">
<link href="{{ $logo.appleTouchIcon }}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

<!-- Include all custom and vendor styles -->
{{- partialCached "styles.html" . -}}
