<main class="container container-fluid mt-5">
    <section id="personal-data">
        {{- partial "sections/personal-data.html" . -}}
    </section>
    <hr />
    <div class="row">
        <div class="col-8">
            <section id="education">
                {{- partial "sections/education.html" . -}}
            </section>
        </div>
        <div class="col-4">
            <section id="skills">
                {{- partial "sections/skills.html" . -}}
            </section>
            <section id="achievement">
                {{- partial "sections/achievement.html" . -}}
            </section>
        </div>
    </div>
</main>

