{{ $sectionName := "achievements" }}
{{ $currentPage := (.Site.GetPage $sectionName) }}

<!--Title-->
<div class="section-head mb-4">
    <h3 class="bottom-border">{{ $currentPage.Title | safeHTML }}</h3>
</div>

<!--Data-->
<section class="d-flex flex-column">
    {{ $sectionPages := (where .Site.RegularPages.ByTitle "Section" $sectionName) }}
    {{ $sortBy := ".Params.weight" }}

    <div class="mx-1 d-flex achievement-list-container">
    {{ range sort $sectionPages $sortBy "asc" }}
        <h4 class="pe-3 achievement-icon">
            <i class="{{ .Params.faIcon }}"></i>
        </h4>
        <div class="achievement-card">
            <div>
                <h4>{{ .Title }}</h4>
                <h5>{{ .Summary }}</h5>
            </div>
            <div class="d-flex flex-row">

                <!-- Time range badge -> 2020.01 - 2020.10 -->
                <div class="me-3">
                    {{ .Scratch.Set "timeRange" .Params.period }}
                    {{ partial "shared/time-range-badge-base.html" . }}
                </div>

                <!-- Location badge -> Country, City-->
                <div>
                    {{ .Scratch.Set "location" .Params.address }}
                    {{ partial "shared/location-badge-base.html" . }}
                </div>
            </div>
            <div class="mt-2 achievement-card-content">
                {{ replace .Content "\\n" "<br/>" | safeHTML }}
            </div>
        </div>
        <hr>
    {{ end }}
    </div>
</section>
