{{ $sectionName := "personal-data" }}
{{ $currentPage := (.Site.GetPage $sectionName) }}

<!--Title-->
<div class="section-head mb-4">
    <h3 class="bottom-border">{{ $currentPage.Title | safeHTML }}</h3>
</div>

<!--Data-->
<section class="d-flex justify-content-between">
    <div class="flex-grow-1">
        <div>
            <h1>{{ $currentPage.Params.fullName }}</h1>
            <h4>{{ $currentPage.Params.jobRole }}</h4>
        </div>
        <div class="row">
            <div class="col-5">
                <div>
                    <i class="fa fa-phone"></i>
                    <span>{{ $currentPage.Params.phone.humanReadableNumber }}</span>
                </div>
                <div>
                    <i class="fa fa-address-book"></i>
                    <span>{{ $currentPage.Params.email.email }}</span>
                </div></div>
            <div class="col-7">
                <div>
                    <i class="fa fa-location-arrow"></i>
                    {{ with $currentPage.Params.address }}
                        <span>{{ .country }}, {{ .city }}, {{ .street1 }} {{ .street2 }}, {{ .postCode }}</span>
                    {{ end }}
                </div>
                <div>
                    <i class="fab fa-linkedin"></i>
                    <span>{{ $currentPage.Params.linkedin }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Picture-->
    <!-- <img src="images/uploads/alexander-toplijski-main-image.jpg">-->
    {{ with $currentPage.Params.avatarImage }}
    <img src="{{ .image }}" alt="{{ .alt }}">
    {{ end }}
</section>
