{{ $sectionName := "skills" }}
{{ $currentPage := (.Site.GetPage $sectionName) }}

<!--Title-->
<div class="section-head mb-4">
    <h3 class="bottom-border">{{ $currentPage.Title | safeHTML }}</h3>
</div>

<!--Data-->
<section class="d-flex flex-column flex-wrap">
    {{ $skillGroups := ($currentPage.Params.skillGroups) }}

    {{ range $skillGroups }}
    <div class="mb-4 px-1 skill-card">
        <h4>{{ .label }}</h4>
        <ul class="d-flex flex-wrap">
            {{ range .skills }}
            <li class="mr-4 skill-card-item">{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</section>
